<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MessDekhoConnectionString" connectionString="Data Source=DESKTOP-Q1C35LF\SQLEXPRESS01;Initial Catalog=MessDekho;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--<add name="MessDekhoConnectionString" connectionString="Data Source=43.255.152.26;Initial Catalog=lakshit_mess;User ID=mess;Password=laksh1234@@##"
          providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    
    
	</system.web>
	<appSettings>
		<!--<add key="LIS" value="Data Source=43.255.152.26;Initial Catalog=lakshit_mess;User ID=mess;Password=laksh1234@@##"/>-->
		<add key="LIS" value="Data Source=DESKTOP-Q1C35LF\SQLEXPRESS01;Initial Catalog=MessDekho;Integrated Security=True"/>
	</appSettings>
</configuration>
